<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SHULRS-Lesson Recommend System</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


 <body>
    <div class="blog-masthead">
      <ol class="breadcrumb">
        <li><a href='/'>首页</a></li>
        <li><a href='/login'>登录状态</a></li>
    </div>
    <h1 style="text-align:center">上海大学-通选课推荐系统v0.1</h1>
    <br/>
    <p align="center">同学您好，欢迎使用上海大学通选课推荐系统</p>
    <div>
    {% if user.is_authenticated %}
    <p align="center">欢迎：{{ user.get_username }}，<a href="../logout">点我注销</a></p>
    {% else %}
      <p align="center">登录后才能使用推荐功能，<a href="../login">点我登录</a></p>
    {% endif %}
    <!--img src="./sources/shu.png" class="img-responsive" alt="Responsive image"-->
    </div>    
       {% block content %}
       {% endblock %}
    </div>
    <!-- /.blog-main --> 


    <!--<nav class="navbar navbar-default navbar-fixed-bottom">
      <p>Written by wly, created with <a href="http://getbootstrap.com">Bootstrap</a> and <a href="https://www.djangoproject.com/">Django.</p>
    </nav>-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
 </body>
 </html>